* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
}

ul {
  list-style: none;  
  gap: 100px;
}

a {
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: center;  
}

nav ul {
  width: 60vh;
  display: flex;
  justify-content: center;
  gap: 10vh;
  margin: 10px;
  padding: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

section:first-of-type {  
  justify-content: center;
}

section:first-of-type ul li {
  margin: 10px;
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(9, 0, 0, 0.196);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to bottom, rgb(190, 0, 57), rgb(139, 0, 28)) fixed;
  font-family: "Plaster", system-ui;
  font-size: larger;
  color:rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  max-width: 1500px;
}

header {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(9, 0, 0, 0.196);
  margin-top: 7px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

section:first-of-type h2 {
  font-size: 80px;
}

section:first-of-type {  
  margin: 5rem;
  padding-top: 15px;
  display:flex;
  flex-direction: column;  
}

section:nth-of-type(2) {
  display:flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 30rem;
  margin: 50px;
  margin-top: 5rem;
  padding: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(9, 0, 0, 0.196);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-h {
  display: none;
  font-size: 3rem;  
}

.menu {
  display: none;
}

.header-menu-control-style{
  display: none;
}

.header-menu-control-style:checked + .menu{
  transform: translateY(0);
}


@media screen and (max-width: 600px) {
  section ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  section:first-of-type {  
  margin: 1rem;
}

  nav ul{
    display: none;
  }

  .menu-h {
    display: block;
  }

  .header-menu-control-style {
    display: none;
  }

  .header-menu-item{
    height: auto;
  }

  .menu-control {
    z-index: 10;
    position: relative;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    height: 98%;
    background-color: rgb(162, 0, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-110%);
    transition: transform 0.3s ease-in-out;
  }
}