* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  background: linear-gradient(to bottom, rgb(190, 0, 57), rgb(139, 0, 28)) no-repeat center center/cover;
  color:rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

header {
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(9, 0, 0, 0.196);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(255, 131, 131, 0.083), rgba(137, 0, 0, 0.337)) no-repeat center center/cover;
}

h2 {
  font-size: larger;
  text-decoration: underline;
}

p {
  margin-top: 10px;
  margin-bottom: 20px
}

.destaque {
  font-style: italic;
  background-color: rgba(226, 43, 159, 0.133);
  padding: 10px;
  border-radius: 10px;
}

#importante {
  border-top: 10px solid rgb(189, 0, 50);
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(190, 0, 57);
}
